p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
    line-height: 1.5;
}

.admin-message {
    font-size: x-large;
    font-weight: bold;
}

.queue-message {
    font-style: italic;
    font-size: large;
    font-weight: 500;
    color: #555;
}

.go-home {
    background-color: #79bcbf;
    color: white;
    border: 3px solid white;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.go-home:hover  {
    background-color: #4fa4a1;
}