body {
    text-align: center;
    background-color: #c2ded7;
}

h1 {
    color: #79bcbf;
}

.searchResults {
    background-color: #f4e4dc;
    margin: 20px 20%;
    list-style: none;
    padding: 20px;
}

.searchItems {
    padding: 10px;
    cursor: pointer;
}

.searchItems.selected {
    border: 5px solid white; /* White border for the selected song */
    background-color: #c2ded7; /* Optional: add a background color */
}

.requestButton {
    margin-bottom: 50px;
}