.App {
  text-align: center;
}

button {
  margin: 7px;
  padding: 10px 15px;
  background-color: #f2baba;
  color: white;
  border: 3px solid white;
  border-radius: 25px;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #b67a7a;
}

.header-span {
  font-style: italic;
  font-size: large;
  font-weight: 500;
  color: #555;
  margin-right: 5px;
}

.navButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navButton {
  background-color: #79bcbf;
  color: white;
  padding: 10px 20px;
  border-radius: 25px; /* Increased to create pill shape */
  border: solid 3px white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease; 
}

.navButton:hover {
  background-color: #4fa4a1; 
}
