.App {
  text-align: center;
}

button {
  margin: 7px;
  padding: 10px 15px;
  background-color: #f2baba;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #b67a7a;
}

.header-span {
  font-style: italic;
  font-size: large;
  font-weight: 500;
  color: #555;
  margin-right: 5px;
}