.App {
  text-align: center;
}

button {
  margin: 7px;
  padding: 10px 15px;
  background-color: #f2baba;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #b67a7a;
}

.header-span {
  font-style: italic;
  font-size: large;
  font-weight: 500;
  color: #555;
  margin-right: 5px;
}

.navButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navButton {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding for the button */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.navButton:hover {
  background-color: #45a049; 
}